---
import Navigation from "../components/Navigation.astro";
import { Content } from "../data/about.md";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
	<Navigation current="about" />

	<div class="mt-32 mb-20 flex items-center justify-center px-6">
		<article
			class="prose prose-neutral prose-invert max-w-3xl [&_a]:decoration-neutral-500 [&_a]:underline-offset-2 hover:[&_a]:decoration-neutral-300"
		>
			<Content />
		</article>
	</div>
</Layout>
