---
import dictionary from "../dictionary";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<div class="flex h-screen items-center justify-center px-24 sm:px-28">
		<nav class="font-mono">
			<ol class="list-[decimal-leading-zero] space-y-10 p-0 marker:text-neutral-600">
				{
					Object.values(dictionary.chapters).map((chapter) => (
						<li class="pl-0">
							<a
								href={chapter.slug}
								class="group flex flex-col font-normal text-neutral-400 no-underline hover:text-white"
							>
								<span class="mb-1.5">{chapter.name}</span>

								<span class="text-sm text-neutral-500 group-hover:text-neutral-300">
									<em>{chapter.description}</em>
								</span>
							</a>
						</li>
					))
				}
			</ol>
		</nav>
	</div>
</Layout>
