---
import chapters from "../data/chapters.json";
import Layout from "../layouts/Layout.astro";
import RowLink from "../components/RowLink.astro";
---

<Layout title="Home">
	<nav class="relative h-svh w-full md:w-1/2 xl:w-1/3">
		<div class="grid size-full divide-y divide-neutral-700/70 backdrop-blur">
			{
				chapters.map((chapter, i) => (
					<RowLink
						order={i + 1}
						slug={chapter.slug}
						name={chapter.name}
						description={chapter.description}
					/>
				))
			}

			<RowLink class="md:hidden" slug="about" name="About" />
			<RowLink class="md:hidden" slug="index" name="Index" />
		</div>
	</nav>

	<nav
		class="nav-extra absolute bottom-4 right-6 hidden gap-x-2 overflow-hidden md:flex"
	>
		<div class="overflow-hidden">
			<a class="font-mono" href="/about">about</a>
		</div>

		<div class="overflow-hidden">
			<span class="text-neutral-500">&mdash;</span>
		</div>

		<div class="overflow-hidden">
			<a class="font-mono" href="/all">index</a>
		</div>
	</nav>
</Layout>

<script>
	import { animate, stagger } from "motion";
	import { expoInOut } from "../util";

	document.addEventListener("astro:page-load", () => {
		animate([
			[
				".row",
				{ scaleX: [0, 1] },
				{ delay: stagger(0.1), duration: 1.5, ease: expoInOut },
			],
			[
				".item",
				{ opacity: [0, 1], y: [-24, 0] },
				{ delay: stagger(0.15), duration: 1, at: 1.25 },
			],
			[
				".nav-extra > *",
				{ y: [24, 0] },
				{ delay: stagger(0.1), duration: 0.75, at: "-1" },
			],
		]);
	});
</script>

<style is:global>
	.row {
		transform: scaleX(0);
	}
</style>
