---
import "@animxyz/core";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

export interface Props {
	title: string;
}
---

<html lang="en" class="antialiased">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/logo.svg" />

		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<title>{Astro.props.title} &bullet; Vox Obscura</title>

		<GoogleFontsOptimizer
			url="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,500;1,600;1,700&display=swap"
		/>
		<GoogleFontsOptimizer
			url="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap"
		/>

		<style is:global>
			body {
				font-family: "Inter var", sans-serif;
			}

			body::-webkit-scrollbar {
				width: 10px;
			}

			body::-webkit-scrollbar-thumb {
				background: theme("colors.neutral.700" / 50%);
			}

			body::-webkit-scrollbar-thumb:hover {
				background: theme("colors.neutral.700" / 90%);
			}
		</style>
	</head>

	<!-- Outline needed to fix margin collapsing -->
	<body class="bg-neutral-950 text-white outline outline-1 outline-neutral-950">
		<main class="flex flex-col">
			<slot />
		</main>

		<footer class="mt-24 font-mono text-sm">
			<div class="sm:px-8">
				<div class="mx-auto max-w-7xl lg:px-8">
					<div class="border-t border-neutral-800 py-14">
						<nav class="flex items-center justify-center space-x-6 text-neutral-500">
							{
								[
									["/", "home"],
									["/all", "index"],
									["/about", "about"],
								].map(([to, text]) => (
									<a href={to} class="hover:text-neutral-200">
										{text}
									</a>
								))
							}
						</nav>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
