---
/* eslint-disable perfectionist/sort-imports */

import "@fontsource-variable/inter";
import "@fontsource-variable/jetbrains-mono";
import "../app.css";

import { ClientRouter } from "astro:transitions";
import Canvas from "../components/Canvas.svelte";

export interface Props {
	title: string;
}
---

<html lang="en" class="antialiased">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/logo.svg" />

		<title>{Astro.props.title} &bullet; Vox Obscura</title>

		<ClientRouter />
	</head>

	<body class="bg-neutral-950 text-white">
		<Canvas client:load transition:persist />

		<main class="flex flex-col">
			<slot />
		</main>
	</body>
</html>
